<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="STORE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0"/>
  </startup>
  <appSettings>

    <!--<add key="ServerHostName" value="uEtltcf9G1kzBqVoibYyLA==" />
    <add key="ServerServiceName" value="lq70vHBcDY34SHbU+vSz/T19i8s2FGf2" />
    <add key="ServerUserName" value="nmhq0Y0Dg7U=" />
    <add key="ServerPassWord" value="eYgfLJYIS0fr2jd55UhWsQ==" />-->

    <add key="ServerHostName" value="KT82IdCB2wlNJOv0BMgBZcwmA/40fP8M" />
    <add key="ServerServiceName" value="6uWM2wQqCCyvBA3BLY8wydEYwT8WwM9u" />
    <add key="ServerUserName" value="db_a6d894_sheenathji_admin" />
    <add key="ServerPassWord" value="shree@123" />


    <add key="ServerPath" value="\\192.168.1.112\derpsharing" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="P" value="D"/>
  </appSettings>
  <userSettings>
    <STORE.Properties.Settings>
      <setting name="UPLOADED_FILENAME" serializeAs="String">
        <value>FilePath</value>
      </setting>
      <setting name="ORIGINAL_FILENAME" serializeAs="String">
        <value>FilePath</value>
      </setting>
      <setting name="UPLOAD_BY_USERNAME" serializeAs="String">
        <value>Size</value>
      </setting>
    </STORE.Properties.Settings>
  </userSettings>
</configuration>